<div class="container">
  <div class="col-sm-12 text-center">
    <h1>Welcome to the Task Manager</h1>
  </div>


  <div class="row">

    <div class="col-sm-3 col-sm-offset-3 text-center">
      <div class="thumbnail">
        <h2><span class="glyphicon glyphicon-list-alt"></span></h2>
        <h2><a href="/tasks">Task Index</a></h2>
      </div>
    </div>

    <div class="col-sm-3 text-center">
      <div class="thumbnail">
        <h2><span class="glyphicon glyphicon-pencil"></span></h2>
        <h2><a href="/tasks/new">New Task</a></h2>
      </div>
    </div>

  </div>


  </ul>
</div>
