<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <a href="/tasks"><span class="glyphicon glyphicon-arrow-left"></span> Task Index</a>
      <div class="panel panel-default">
        <div class="panel-heading"><%= @task.title %></div>
        <p>
          <%= @task.description %>
        </p>
      </div>
  </div>
</div>
